<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125486066869-j7hutair53cv74ebhiekevc2o8gvsics.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125486066869-j7hutair53cv74ebhiekevc2o8gvsics</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>125486066869-mo76k8podj3r610rrlvedk9nqs44iuo0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8m6swCTRwPdpCg21ZMH3l-640QKvloxI</string>
	<key>GCM_SENDER_ID</key>
	<string>125486066869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.listaway</string>
	<key>PROJECT_ID</key>
	<string>listaway-ff3bc</string>
	<key>STORAGE_BUCKET</key>
	<string>listaway-ff3bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125486066869:ios:3a145c2ab890d91103e2fc</string>
	<key>DATABASE_URL</key>
	<string>https://listaway-ff3bc.firebaseio.com</string>
</dict>
</plist>